FinalProject-war/src/conf/xml-resources/web-service-references/BibleKJVService/wsdl/www.restfulwebservices.net/wcf/BibleKJVService.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://www.restfulwebservices.net/DataContracts/2008/01" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.restfulwebservices.net/DataContracts/2008/01"><xs:complexType name="ArrayOfBibleVerse"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="BibleVerse" nillable="true" type="tns:BibleVerse"/></xs:sequence></xs:complexType><xs:element name="ArrayOfBibleVerse" nillable="true" type="tns:ArrayOfBibleVerse"/><xs:complexType name="BibleVerse"><xs:sequence><xs:element minOccurs="0" name="Book" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="BookTitle" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Chapter" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Verse" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="TextData" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="BibleVerse" nillable="true" type="tns:BibleVerse"/></xs:schema>