FinalProject-war/src/conf/xml-resources/web-service-references/BibleKJVService/wsdl/www.restfulwebservices.net/wcf/BibleKJVService.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://www.restfulwebservices.net/ServiceContracts/2008/01" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.restfulwebservices.net/ServiceContracts/2008/01"><xs:import schemaLocation="http://www.restfulwebservices.net/wcf/BibleKJVService.svc?xsd=xsd2" namespace="http://www.restfulwebservices.net/DataContracts/2008/01"/><xs:element name="GetVerses"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="bookName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="chapter" type="xs:int"/><xs:element minOccurs="0" name="fromVerse" type="xs:int"/><xs:element minOccurs="0" name="toVerse" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetVersesResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetVersesResult" nillable="true" type="q1:ArrayOfBibleVerse" xmlns:q1="http://www.restfulwebservices.net/DataContracts/2008/01"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetVerse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="bookName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="chapter" type="xs:int"/><xs:element minOccurs="0" name="verse" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetVerseResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetVerseResult" nillable="true" type="q2:BibleVerse" xmlns:q2="http://www.restfulwebservices.net/DataContracts/2008/01"/></xs:sequence></xs:complexType></xs:element></xs:schema>